.app.dark{
  --bg-color: #0e0e75;
  --inverted-bg-color: #606060;
  --primary-color: #189470;
  --secondary-color: #71ff00;
  --inverted-primary-color: #00165d;
  --inverted-secondary-color: #001aff;
}